/* font */
.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

/* TEXT STYLES */

/* Project I - Tiêu đề phụ */
.title-small {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffcc00; /* Vàng Gold */
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.9), 10, 0, 2, 2);
    -fx-letter-spacing: 2px;
}

/* Memory Card Game - Tiêu đề chính */
.title-large {
    -fx-font-size: 85px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 20, 0, 0, 0),
                dropshadow(one-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 5, 5);
}
/* button */

.button {
    -fx-background-color: linear-gradient(to bottom, #7f0000, #3d0000); /* gradient đỏ */
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 12 30;
    -fx-min-width: 250px;
    -fx-cursor: hand;
    -fx-border-color: #ffcc00; /* Viền vàng */
    -fx-border-width: 2;
    -fx-border-radius: 7;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.6), 8, 0, 3, 3);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #c02942, #7f0000);
    -fx-text-fill: #ffffff;
    -fx-scale-x: 1.05; /* hover effect */
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(one-pass-box, rgba(255,204,0,0.8), 12, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #3d0000, #1a0000);
    -fx-scale-x: 0.98; /* click effect */
    -fx-scale-y: 0.98;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.6), 8, 0, 3, 3);
}

/* game screen */

.game-stats-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 10, 0.7, 0, 0); /* shadow */
}

/* leaderboard */

.score-list-container {
    -fx-background-color: rgba(0, 0, 0, 0.7); /* transparent black */
    -fx-border-color: #ffcc00;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-padding: 15px 10px;
    -fx-min-width: 350px;
}

/* card style */

.card-back {
    -fx-background-image: url('card_back.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.card-back:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* matching card */
.card-matched {
    -fx-opacity: 0.5;
}

/* win dialogue */

.win-dialog-container {
    -fx-background-color: rgba(0, 0, 0, 0.9); /* tối đậm */
    -fx-border-color: #ffcc00;
    -fx-border-width: 5px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 30, 0, 0, 0);
    -fx-spacing: 25;
}